<a href="https://colab.research.google.com/github/raulrosapacheco/AnaliseSQL-Brazilian-Delivery-Center/blob/main/01-Projeto-IntegracaoPythonSQL/Projeto_AnaliseDados_Integracao_Python_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='white'>Projeto: Integração Linguagem Python e SQL para Análise de Dados</font>
<font color='white'>Fonte de Dados: https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database<br><br> O dataset PIMA possui dados de pacientes quem possuem ou não diabetes. Nesse projeto devemos extrair uma amostra de dados pacientes com mais de 45 anos e criar uma nova coluna indicando se o pacientes está abaixo do peso, normal, sobrepeso, obeso, conforme imagem abaixo.</font>

![indice_massa_corporal.gif]()


1 - Os dados serão carregados em Liguagem Python; 

2 - Faremos uma copia para um Banco de Dados SQL;

3 - As transformações dos dados serão realizadas em Linguagem SQL;

4 - O dados serão transformados novamente para um DataFrame do Pandas e salvos em uma arquivo CSV.

In [2]:
# Instalando Pandas
!pip install -q -U pandas

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 75.9 MB/s eta 0:00:00

In [3]:
# Instalando o pacote iPython-sql (permite utilizar linguagem sql em python)
!pip install -q ipython-sql

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 49.9 MB/s eta 0:00:00

In [4]:
# Importando pacotes pandas e chamando de pd
# Importando pacote sqlite, banco de dados onde serão armazenados os registros
import pandas as pd
import sqlite3

In [5]:
# Montando Google Drive no Colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Carregando Dados usando Linguagem Python

In [38]:
# Criando um DataFrame 'df' com o arquivo csv armazenado no Google Drive
df = pd.read_csv('https://drive.google.com/file/d/1-9UZQmDxDiB4V66kfdZngZ-1B-gBCK_Y/view?usp=share_link')

In [9]:
# Tipo do objeto
type(df)

pandas.core.frame.DataFrame

In [10]:
# Formato
df.shape

(768, 9)

In [11]:
# Visualizando os 5 primeiros registros
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

## Copiando dados para uma Banco de Dados SQL

In [13]:
# Criando uma conexão ao banco de dados SQLite
# 'cnn' será o nome da conexão
# Um database 'dbprojeto1.db' é criado dentro da pasta 'Databases' 
# no Google Drive
cnn = sqlite3.connect('/content/drive/MyDrive/Databases/dbprojeto1.db')

In [14]:
# Copiando o DataFrame 'df' para dentro do Banco de Dados como uma tabela
# O DataFrame 'df' é convertido para formato SQL e gravado na conexão 'cnn' em
# uma tabela chamada 'diabetes'
df.to_sql('diabetes', cnn)

768

In [15]:
# Carregando a extensão SQL para executar queries aqui 
%load_ext sql

In [16]:
# Definindo o Banco de Dados a ser utilizado
%sql sqlite:////content/drive/MyDrive/Databases/dbprojeto1.db

'Connected: @/content/drive/MyDrive/Databases/dbprojeto1.db'

## Transformando dados em Linguagem SQL

In [17]:
%%sql

SELECT COUNT(*) FROM diabetes
WHERE Age > 45

 * sqlite:////content/drive/MyDrive/Databases/dbprojeto1.db
Done.

[(118,)]

In [18]:
# Visualizando as Colunas do DataFrame 'df'
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [19]:
%%sql

CREATE TABLE pacientes (Pregnancies INT,
                        Glucose INT,
                        BloodPressure INT,
                        SkinThickness INT,
                        Insulin INT,
                        BMI DECIMAL(8, 2),
                        DiabetesPedigreeFunction DECIMAL(8, 2),
                        Age INT,
                        Outcome INT);

 * sqlite:////content/drive/MyDrive/Databases/dbprojeto1.db
Done.

[]

In [20]:
%%sql 

SELECT * FROM pacientes

 * sqlite:////content/drive/MyDrive/Databases/dbprojeto1.db
Done.

[]

In [21]:
%%sql

INSERT INTO pacientes(Pregnancies, 
                      Glucose, 
                      BloodPressure, 
                      SkinThickness, 
                      Insulin, 
                      BMI, 
                      DiabetesPedigreeFunction, 
                      Age, 
                      Outcome) 
SELECT Pregnancies, 
       Glucose, 
       BloodPressure, 
       SkinThickness, 
       Insulin, 
       BMI, 
       DiabetesPedigreeFunction, 
       Age, 
       Outcome 
FROM diabetes WHERE Age > 45;

 * sqlite:////content/drive/MyDrive/Databases/dbprojeto1.db
118 rows affected.

[]

In [23]:
%%sql

SELECT * FROM pacientes LIMIT 10

 * sqlite:////content/drive/MyDrive/Databases/dbprojeto1.db
Done.

[(6, 148, 72, 35, 0, 33.6, 0.627, 50, 1),
 (2, 197, 70, 45, 543, 30.5, 0.158, 53, 1),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1),
 (8, 99, 84, 0, 0, 35.4, 0.388, 50, 0),
 (11, 143, 94, 33, 146, 36.6, 0.254, 51, 1),
 (13, 145, 82, 19, 110, 22.2, 0.245, 57, 0),
 (5, 109, 75, 26, 0, 36, 0.546, 60, 0)]

In [24]:
%%sql

ALTER TABLE pacientes
ADD Rotundity VARCHAR(10);

UPDATE pacientes
SET Rotundity = 'Abaixo'
WHERE BMI < 18.5;

UPDATE pacientes
SET Rotundity = 'Normal'
WHERE BMI >= 18.5 AND BMI < 25;

UPDATE pacientes
SET Rotundity = 'Sobrepeso'
WHERE BMI >= 25 AND BMI < 30;

UPDATE pacientes
SET Rotundity = 'Obeso'
WHERE BMI >= 30;

 * sqlite:////content/drive/MyDrive/Databases/dbprojeto1.db
Done.
2 rows affected.
19 rows affected.
30 rows affected.
67 rows affected.

[]

In [25]:
%%sql

SELECT * FROM pacientes LIMIT 10

 * sqlite:////content/drive/MyDrive/Databases/dbprojeto1.db
Done.

[(6, 148, 72, 35, 0, 33.6, 0.627, 50, 1, 'Obeso'),
 (2, 197, 70, 45, 543, 30.5, 0.158, 53, 1, 'Obeso'),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1, 'Abaixo'),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0, 'Sobrepeso'),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1, 'Obeso'),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1, 'Sobrepeso'),
 (8, 99, 84, 0, 0, 35.4, 0.388, 50, 0, 'Obeso'),
 (11, 143, 94, 33, 146, 36.6, 0.254, 51, 1, 'Obeso'),
 (13, 145, 82, 19, 110, 22.2, 0.245, 57, 0, 'Normal'),
 (5, 109, 75, 26, 0, 36, 0.546, 60, 0, 'Obeso')]

## Carregando dados transformados no Pandas e salvando em um arquivo CSV

In [35]:
# Gravando resultado de uma Query em um cursor
query = cnn.execute("SELECT * FROM pacientes")
query

In [28]:
# Criando uma Lista com o nome das colunas
cols = [col[0] for col in query.description]
cols

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome',
 'Rotundity']

In [29]:
# Criando um DataFrame Pandas
df_final = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [31]:
df_final.shape

(118, 10)

In [32]:
df_final.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Rotundity
0,6,148,72,35,0,33.6,0.627,50,1,Obeso
1,2,197,70,45,543,30.5,0.158,53,1,Obeso
2,8,125,96,0,0,0.0,0.232,54,1,Abaixo
3,10,139,80,0,0,27.1,1.441,57,0,Sobrepeso
4,1,189,60,23,846,30.1,0.398,59,1,Obeso

In [37]:
# Salvando DataFrame 'df_final' em arquivo CSV
df_final.to_csv('/content/drive/MyDrive/Datasets/diabetes>45+rotundity.csv', index = False)

#Fim

Desenvolvido por Raul Rosa.

rr0608@outlook.com

<a href="https://www.linkedin.com/in/raul-rosa/">LinkedIn</a>

Este projeto é uma variação/adapatação ao Projeto 1 desenvolvido no curso: <a href="https://www.datascienceacademy.com.br/course/analise-de-dados-com-linguagem-python-dsa">Análise de Dados com Linguagem Python - Data Science Academy</a>